<!DOCTYPE html>
<html ng-app="Solutions">
  <head>
    <link rel="stylesheet" href="./app/css/bootstrap.css"/>
    <link rel="stylesheet" href="./app/css/main.css"/>
  </head>
  <!-- 1.) Controller 1 -->
  <body class="container">     
    <!-- 2.) Controller 2 -->
   <div class="memoController" ng-controller="MemoCtrl as soln">
   <!-- A SEARCH BUTTON FOR FILTERING -->
    <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <form class="form-inline">
             <input type="search" style="width: 480px;" class="form-control search-field" ng-model="search" disabled="disabled" placeholder="Search..."/> 
          <label class="checkbox"> Last:
               <input type="checkbox" ng-model="apply" class="form-control" id="filter"/> 
          </label>
      </form>
    </div>
    </div>
    <!-- SEARCH BOX ENDS -->
     <div class="row">
      <div class="solution1 panel panel-primary">
      	<div class="panel-heading">
      		  <h1 class="panel-title">Tasks: {{soln.currentDate | date: 'medium'}}</h1>       
      	</div>
      	<div clss="panel-body">
          <ul>
            <!-- APPLY THE CUSTOM FILTER ON THE LIST -->
            <li class="todo" ng-repeat="todo in soln.todos | lastEntry: apply">{{todo.task}}</li>
            <!-- -->
          </ul>
    			<input class="form-control" type="text" ng-model="soln.item.task" placeholder="Walk the dog.">
      	</div>
        <div class="panel-footer" ng-controller="BillingCtrl as billing">
          <input type="button" class="btn btn-primary" value="Add" ng-click="soln.add()"/>
          <!-- TODO: FILTERING CURRENCIES CAN BE PIPE TO OUTPUT LIKE THIS -->
          <h3 class="text-right text-danger">Past Due: {{billing.pastDue | currency}}</h3>
        </div>
      </div>    
     </div> 
    </div>
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="./app/js/ui-bootstrap.js"></script>

    <!--App specific libraries below here -->
    <script src="./app/app.js"></script>
  </body>
</html>