<!DOCTYPE html>
<html ng-app="Solutions">
  <head>
    <link rel="stylesheet" href="./app/css/bootstrap.css"/>
    <link rel="stylesheet" href="./app/css/main.css"/>
  </head>
  <body class="container">     
   <div class="memoController" ng-controller="MemoCtrl as soln">
   <!-- 1.] TOOD  CREATE A FILTER USING NG-MODEL and bind it on a search object -->
    <div class="row">
       <div class="col-md-offset-3 col-md-5">
         <input type="search" class="form-control search-field" placeholder="Search..."/>         
       </div>
    </div>
     <div class="row">
      <div class="solution1 panel panel-primary">
      	<div class="panel-heading">
      		  <h1 class="panel-title">Tasks: {{soln.currentDate | date: 'medium'}}</h1>       
      	</div>
      	<div clss="panel-body">
          <ul>
            <!-- 2.] TODO APPLY THE FILTER HERE -->
            <li class="todo" ng-repeat="todo in soln.todos | filter:search">{{todo}}</li>
          </ul>
    			<input class="form-control" type="text" ng-model="soln.item" placeholder="Walk the dog.">
      	</div>
        <div class="panel-footer" ng-controller="BillingCtrl as billing">
          <input type="button" class="btn btn-primary" value="Add" ng-click="soln.add()"/>
          <h3 class="text-right text-danger">Past Due: {{billing.pastDue | currency}}</h3>
        </div>
      </div>    
     </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="./app/js/ui-bootstrap.js"></script>

    <!--App specific libraries below here -->
    <script src="./app/app.js"></script>
  </body>
</html>