      .solution1{
    		margin-bottom: 300px;
    		margin-right: 300px;
    		margin-left: 300px;
	  }
	  label {
	  		font-size: 16px;
	  }
	  body {
	  	background-color: #DDD;
	  }
	  .panel-title {
	  	line-height: 30px;
	  	font-size: 20px;
	  }
	  .panel {
	  	line-height: 50px;
	  }
	  .memo {
	  	font-size: 16px;
	  	list-style: none;
	  }
	  .search-field {
	  	line-height: 20px;
	  	font-size: 16px;
	  	margin-bottom: 12px;
	  }
