<!DOCTYPE html>
<!-- 1.) CREATE AN APP -->
<html ng-app="Solutions">
  <head>
    <link rel="stylesheet" href="./app/css/bootstrap.css"/>
    <link rel="stylesheet" href="./app/css/main.css"/>
  </head>
  <body class="container" ng-controller="Solution8 as soln">
   <div class="row">
    <div class="solution1 panel panel-primary">
    	<div class="panel-heading">

    		<h1 class="panel-title">Memo:</h1>
    	</div>
    	<div clss="panel-body">
        <ul>
          <li class="memo" ng-repeat="memo in soln.memos">{{memo}}</li>
        </ul>
  			<input class="form-control" type="text" ng-model="soln.item" placeholder="Walk the dog.">

    	</div>
      <div class="panel-footer">
        <!-- 1.] CREATE A METHOD CALLED WITH  NG-CLIK -->
        <input type="button" class="btn btn-primary" value="Add" ng-click=""/>
      </div>
    </div>    
   </div> 
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="./app/js/ui-bootstrap.js"></script>

    <!--App specific libraries below here -->
    <script src="./app/app.js"></script>
  </body>
</html>